# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Test and audit output
coverage
.lighthouseci

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
