/// --------------------------------------------------
/// base/_global.scss
/// --------------------------------------------------
/// This file is intended for defining global styles that
/// apply across the entire project, such as base typography,
/// default element styles, or utility classes. Use this file
/// to set up foundational styles that are not covered by the
/// CSS reset (see base/_reset.scss) but should be available
/// everywhere. Keep these rules minimal and generic to avoid
/// conflicts with component or layout-specific styles.
/// --------------------------------------------------

@use "../abstracts" as *;

* {
   font-family: 'Noto Sans', sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings: "wdth" 100;
   font-display: swap;
   font-weight: 500;
}

body {
   background: #FAF8F3;
}

.page {
   margin-bottom: px-to-rem(48);
   display: flex;
   flex-direction: column;
   gap: px-to-rem(24);
   width: 100%;
   padding: px-to-rem(32);

   margin-top: px-to-rem(73);

   @include mobile {
      padding: px-to-rem(12);
      margin-top: px-to-rem(49);
   }
}

.my-header,
.my-footer,
.hero,
.page {
   max-width: px-to-rem(996);
   margin-right: auto;
   margin-left: auto;
}

h1 {
   font-size: px-to-rem(28);
   font-weight: 700;
   margin-bottom: px-to-rem(8);

   @include web-screen {
      font-size: px-to-rem(32);
      font-weight: 700;
      margin-bottom: px-to-rem(12);
   }
}



h2 {
   font-size: px-to-rem(24);
   font-weight: 600;
   margin-bottom: px-to-rem(8);

   @include web-screen {
      font-size: px-to-rem(28);
      font-weight: 600;
      margin-bottom: px-to-rem(12);
   }
}

li {
   list-style: disc;
   margin-left: px-to-rem(16);
}

strong {
   font-weight: 600;
}

.not-found {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   p {
      font-size: px-to-rem(24);
      font-weight: 600;
      font-style: italic;
   }
}
